<app-header></app-header>
<div class="wrap_area pt-80 pb-120">
    <!-- page BODY -->
    <!-- ========================================================= -->
    <div class="page-body">


        <div class="card box wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
          <div class="card-body">
            <div class="card-content">
                <form>
                    <div class="info text-center  mb-50 pt-10">
                        <h4>Sign Up</h4>
                    </div>

                    <div class="form-group mb-20">
                        <span class="input-with-icon">
                            <input type="text" class="form-control" id="Username" placeholder="Username">
                            <i class="flaticon-user"></i>
                        </span>
                    </div>
                    <div class="form-group mb-20">
                        <span class="input-with-icon">
                            <input type="email" class="form-control" id="email" placeholder="Email">
                            <i class="flaticon-envelope"></i>
                        </span>
                    </div>
                    <div class="form-group mb-20">
                        <span class="input-with-icon">
                            <input type="password" class="form-control" id="password" placeholder="Password">
                            <i class="flaticon-secured-lock"></i>
                        </span>
                    </div>
                    <div class="form-group mb-20">
                        <span class="input-with-icon">
                            <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password">
                            <i class="flaticon-secured-lock"></i>
                        </span>
                    </div>
                    <div class="form-group mb-20">
                        <div class="checkbox-custom checkbox-primary">
                            <input type="checkbox" id="emails" value="option1">
                            <label class="check" for="emails">Yes, I want to receive emails.</label>
                        </div>
                    </div>
                    <div class="form-group mb-20">
                        <div class="checkbox-custom checkbox-primary">
                            <input type="checkbox" id="terms" value="option2">
                            <label class="check" for="terms">I have read &amp; agree with </label> <a href="#">Terms and Conditions</a>
                        </div>
                    </div>
                    <div class="form-group mb-20">
                        <a href="index.html" class="btn main-btn btn-inline">Register</a>
                    </div>
                    <div class="form-group text-center">
                        <span>Have an account?</span> <a href="login.html">Sign In</a>
                    </div>
                </form>
            </div>
          </div>
        </div>


    </div>
</div>
<app-footer></app-footer>