<section class="wrap_area pt-80 pb-120">
    <!-- page BODY -->
    <!-- ========================================================= -->
    <div class="container">

       <div class="row align-items-center justify-content-center">
            <div class="col-lg-8">
                <div class="card register_box wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <div class="card-body">
                    <div class="card-content">
                        <form>
                            <div class="info text-center  mb-30 pt-10">
                                <h4>Post Your Ads</h4>
                            </div>

                              <div class="col-lg-12 clearfix">
                                <label for="cat" class="form-label">Category</label>
                                 <div class="col-md-12">
                                       <select class="form-control mb-20 wide" id="cat" style="display: none;">

                                          <option data-display="Boats"> Boats</option>
                                          <option value="Vehicles"> Other Vehicles</option>
                                          <option value="Appliances"> Appliances</option>
                                          <option value="Inside"> Inside</option>
                                          <option value="Games"> Games and Clothing</option>
                                          <option value="Garden"> Garden</option>
                                          <option value="Apartment"> Apartment</option>
                                          <option value="Home"> Home</option>
                                          <option value="Vacation"> Vacation Rentals</option>
                                          <option value="Other"> Other</option>

                                       </select><div class="nice-select form-control mb-20 wide" tabindex="0"><span class="current">Boats</span><ul class="list"><li data-value="Boats" data-display="Boats" class="option selected"> Boats</li><li data-value="Vehicles" class="option"> Other Vehicles</li><li data-value="Appliances" class="option"> Appliances</li><li data-value="Inside" class="option"> Inside</li><li data-value="Games" class="option"> Games and Clothing</li><li data-value="Garden" class="option"> Garden</li><li data-value="Apartment" class="option"> Apartment</li><li data-value="Home" class="option"> Home</li><li data-value="Vacation" class="option"> Vacation Rentals</li><li data-value="Other" class="option"> Other</li></ul></div>

                                  </div>
                              </div>
                              <div class="col-lg-12 clearfix mb-20">
                                <label class="col-md-12 form-label">Ads Type</label>
                                <div class="row">
                                    <div class="d-flex justify-content-start">
                                        <div class="checkbox-custom checkbox-primary ">
                                            <input type="checkbox" id="adType1" value="adType1">
                                            <label class="check" for="adType1">Individual Type
                                        </label></div>
                                        <div class="checkbox-custom checkbox-primary mx-2">
                                            <input type="checkbox" id="adType2" value="adType2">
                                            <label class="check" for="adType2">Business Type
                                        </label></div>
                                    </div>
                                </div>
                              </div>


                            <div class="col-lg-12 mb-20">
                              <label class="col-md-12 form-label" for="Adtitle">Ads Title</label>
                              <div class="col-md-12">
                                <input id="Adtitle" name="Adtitle" placeholder="Ads Title" class="form-control" required="" type="text">
                              </div>
                            </div>
                           <div class="col-lg-12 mb-20">
                              <label class="col-md-12 form-label" for="textarea">Add Description</label>
                              <div class="col-md-12">
                                <textarea class="form-control" placeholder="Describe what makes your ad unique" name="textarea"></textarea>
                              </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="seller-info text-center">
                                    <h5> Seller information</h5>
                                </div>
                            </div>

                            <div class="col-lg-12 mb-20">
                              <label class="col-md-12 form-label" for="name">User name</label>
                              <div class="col-md-12">
                                <input id="name" name="name" placeholder="Name" class="form-control" required="" type="text">
                              </div>
                            </div>
                            <div class="col-lg-12 mb-20">
                              <label class="col-md-12 form-label" for="email">User Email</label>
                              <div class="col-md-12">
                                <input id="email" name="email" placeholder="User Email" class="form-control" required="" type="email">
                              </div>
                            </div>
                           <div class="col-lg-12 mb-20">
                              <label class="col-md-12 form-label" for="number">User Phone Number</label>
                              <div class="col-md-12">
                                <input id="number" name="number" placeholder="Phone Number" class="form-control" required="" type="text">
                              </div>
                            </div>

                            <div class="col-lg-12 clearfix">

                              <label class="col-md-12 form-label">Location</label>
                              <div class="col-md-12">
                                   <select class="form-control wide  mb-20" style="display: none;">

                                    <option data-display="Locations">Locations</option>
                                    <option value="Uk, London">Uk, London</option>
                                    <option value="USA, Verginia">USA, Verginia</option>
                                    <option value="Canada">Canada</option>
                                    <option value="Austrilia">Austrilia</option>

                                   </select><div class="nice-select form-control wide mb-20" tabindex="0"><span class="current">Locations</span><ul class="list"><li data-value="Locations" data-display="Locations" class="option selected">Locations</li><li data-value="Uk, London" class="option">Uk, London</li><li data-value="USA, Verginia" class="option">USA, Verginia</li><li data-value="Canada" class="option">Canada</li><li data-value="Austrilia" class="option">Austrilia</li></ul></div>

                              </div>

                            </div>
                           <div class="col-lg-12 clearfix">

                              <label class="col-md-12 form-label">City</label>
                              <div class="col-md-12">
                                   <select class="form-control wide mb-20" style="display: none;">

                                    <option data-display="Locations">Locations</option>
                                    <option value="Uk, London">Uk, London</option>
                                    <option value="USA, Verginia">USA, Verginia</option>
                                    <option value="Canada">Canada</option>
                                    <option value="Austrilia">Austrilia</option>

                                   </select><div class="nice-select form-control wide mb-20" tabindex="0"><span class="current">Locations</span><ul class="list"><li data-value="Locations" data-display="Locations" class="option selected">Locations</li><li data-value="Uk, London" class="option">Uk, London</li><li data-value="USA, Verginia" class="option">USA, Verginia</li><li data-value="Canada" class="option">Canada</li><li data-value="Austrilia" class="option">Austrilia</li></ul></div>

                              </div>

                            </div>
                           <div class="col-lg-12 mb-20 clearfix">

                                <div class="file-upload">
                                  <label for="file" class="form-label">Upload Ads Photo</label>
                                  <div class="input-file-upload">
                                      <input class="form-control  form-control-lg" id="file" type="file">
                                  </div>

                                </div>

                            </div>
                           <div class="col-lg-12 mb-20 clearfix">
                                <label class="col-md-12 form-label">Make your Premium Ads</label>
                                <div class="row">
                                    <div class="d-flex justify-content-start">
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="regularAd" value="regularAd">
                                            <label class="check" for="regularAd">Regular ads
                                        </label></div>
                                        <div class="checkbox-custom checkbox-primary mx-2">
                                            <input type="checkbox" id="urgentAd" value="urgentAd">
                                            <label class="check" for="urgentAd">Urgent Ads
                                        </label></div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="topAd" value="topAd">
                                            <label class="check" for="topAd">Top Ads
                                        </label></div>

                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-12  clearfix">

                              <label class="col-md-12 form-label">Select Payment Method</label>
                              <div class="col-md-12">
                                   <select class="form-control wide" style="display: none;">

                                      <option data-display="Select Payment">Select Payment</option>
                                      <option value="1">Credit / Debit Card</option>
                                      <option value="2">Paypal</option>
                                      <option value="3">Strip</option>
                                      <option value="4">Masterd Card / Visa Card</option>

                                   </select><div class="nice-select form-control wide" tabindex="0"><span class="current">Select Payment</span><ul class="list"><li data-value="Select Payment" data-display="Select Payment" class="option selected">Select Payment</li><li data-value="1" class="option">Credit / Debit Card</li><li data-value="2" class="option">Paypal</li><li data-value="3" class="option">Strip</li><li data-value="4" class="option">Masterd Card / Visa Card</li></ul></div>

                              </div>

                            </div>


                            <div class="col-lg-12 mb-20 clearfix">
                                <label class="col-md-12 form-label"></label>
                                <div class="row">
                                    <div class="d-flex ">
                                        <div class="checkbox-custom checkbox-primary ">
                                            <input type="checkbox" id="info" value="info">
                                            <label class="check" for="info">Remember above contact information.
                                        </label></div>

                                    </div>
                                </div>

                            </div>



                            <div class="col-lg-12">

                              <div class="col-md-12">
                                <a href="index.html" class="btn main-btn btn-inline">Submit Your Ads</a>
                              </div>
                            </div>

                        </form>
                    </div>
                  </div>
                </div>
            </div>
       </div>

    </div>
</section>
<!-- <app-footer></app-footer> -->