.wrap_area .box .card-body {
    padding: 20px;
    background: #F2F5FF;
    border-radius: 6px;
}
.wrap_area .box {
    width: 500px;
    margin: auto;
    border-radius: 6px;
    border-top: 3px solid #F6435B;
    padding: 20px;
    position: relative;

}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
.pt-10 {
    padding-top: 10px;
}

.mb-50 {
    margin-bottom: 50px;
}
.mb-20 {
    margin-bottom: 20px;
}
.wrap_area .form-group span {
    font-size: 14px;
}
.wrap_area .input-with-icon {
    display: block;
    position: relative;
}
.wrap_area .card-content input {
    width: 100%;
    transition: .3s;
    background-color: #fff;
    height: 55px;
    border: 1px solid rgba(0,0,0,0.125);
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}
.wrap_area .input-with-icon>input {
    padding-left: 35px;
}