<app-header></app-header>
<div class="wrap_area pt-80 pb-120">
    <!-- page BODY -->
    <!-- ========================================================= -->
    <div class="page-body">
        <div class="card box wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
          <div class="card-body">
            <div class="card-content">
                <form>
                    <div class="info text-center  mb-50 pt-10">
                        <h4>Login</h4>
                    </div>
                    <div class="form-group mb-20">
                        <span class="input-with-icon">
                            <input type="email" class="form-control" id="email" placeholder="Email Address">
                            <i class="flaticon-envelope"></i>
                        </span>
                    </div>
                    <div class="form-group mb-20">
                        <span class="input-with-icon">
                            <input type="password" class="form-control" id="password" placeholder="Secure Password">
                            <i class="flaticon-secured-lock"></i>
                        </span>
                    </div>
                    <div class="form-group mb-20">
                        <div class="checkbox-custom checkbox-primary">
                            <input type="checkbox" id="remember-me" value="option3" checked="">
                            <label class="check" for="remember-me">Remember me</label>
                        </div>
                    </div>
                    <div class="form-group mb-20">
                        <a href="index.html" class="btn main-btn btn-inline">Sign in</a>
                    </div>
                    <div class="form-group text-center">
                        <a href="reset-password.html">Forgot password?</a>
                        <hr>
                        <div class="social-login">
                            <div class="test">
                                <a href="#"><i class="flaticon-facebook-app-symbol"></i></a>
                                <a href="#"><i class="flaticon-linkedin"></i></a>
                                <a href="#"><i class="flaticon-pinterest"></i></a>
                                <a href="#"><i class="flaticon-twitter"></i></a>
                            </div>
                        </div>
                        <hr>
                         <span>Don't have an account?</span>
                        <a routerLink="/register" class="mt-sm">Register</a>
                    </div>
                </form>
            </div>
          </div>
          </div>
          </div>
          </div>
          <app-footer></app-footer>