<header class="header navbar-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="nav-inner">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="index.html">
                            <img src="assets/images/normal/logo1.png" alt="Logo">
                        </a>
                        <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a class=" active dd-menu collapsed" href="javascript:void(0)"
                                        data-bs-toggle="collapse" data-bs-target="#submenu-list1"
                                        aria-controls="navbarSupportedContent" aria-expanded="false"
                                        aria-label="Toggle navigation">Home</a>
                                    <ul class="sub-menu collapse" id="submenu-list1">
                                        <li class="nav-item active"><a href="index.html">Home Default</a></li>
                                        <li class="nav-item"><a href="javascript:void(0)">Home Version 2</a></li>
                                        <li class="nav-item"><a href="javascript:void(0)">Home Version 3</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class=" dd-menu collapsed" href="javascript:void(0)"
                                        data-bs-toggle="collapse" data-bs-target="#submenu-ads"
                                        aria-controls="navbarSupportedContent" aria-expanded="false"
                                        aria-label="Toggle navigation">Browse Ads</a>
                                    <ul class="sub-menu collapse" id="submenu-ads">
                                        <li class="nav-item"><a href="javascript:void(0)">Browse Grid</a></li>
                                        <li class="nav-item"><a href="javascript:void(0)">Browse Standard</a></li>
                                        <li class="nav-item"><a href="javascript:void(0)">Browse Details</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class=" dd-menu collapsed" href="javascript:void(0)"
                                        data-bs-toggle="collapse" data-bs-target="#submenu-list2"
                                        aria-controls="navbarSupportedContent" aria-expanded="false"
                                        aria-label="Toggle navigation">Categories</a>
                                    <ul class="sub-menu collapse" id="submenu-list2">
                                        <li class="nav-item"><a href="javascript:void(0)">All Categories</a></li>
                                        <li class="nav-item"><a href="javascript:void(0)">Categories Details</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class=" dd-menu collapsed" href="javascript:void(0)"
                                        data-bs-toggle="collapse" data-bs-target="#submenu-list3"
                                        aria-controls="navbarSupportedContent" aria-expanded="false"
                                        aria-label="Toggle navigation">Pages</a>
                                    <ul class="sub-menu collapse" id="submenu-list3">
                                        <li class="nav-item"><a href="about.html">About Us</a></li>
                                        <li class="nav-item"><a href="javascript:void(0)">Our Stores</a></li>
                                        <li class="nav-item"><a href="javascript:void(0)">Stores Details</a></li>
                                        <li class="nav-item"><a href="javascript:void(0)">Faq's</a></li>
                                        <li class="nav-item"><a href="javascript:void(0)">Pricing Table</a></li>
                                        <li class="nav-item"><a href="javascript:void(0)">Login Page</a></li>
                                        <li class="nav-item"><a href="javascript:void(0)">Sign Up </a></li>
                                    
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class=" dd-menu collapsed" href="javascript:void(0)"
                                        data-bs-toggle="collapse" data-bs-target="#submenu-list4"
                                        aria-controls="navbarSupportedContent" aria-expanded="false"
                                        aria-label="Toggle navigation">Blog</a>
                                    <ul class="sub-menu collapse" id="submenu-list4">
                                        <li class="nav-item"><a href="blog.html">Blog Grid</a></li>
                                        <li class="nav-item"><a href="javascript:void(0)">Blog Standard</a></li>
                                        <li class="nav-item"><a href="javascript:void(0)">Blog Details</a></li>
                                        <li class="nav-item"><a href="404.html">404 Error</a></li>
                                        <li class="nav-item"><a href="javascript:void(0)">Contact Us</a></li>
                                    </ul>
                                </li>
                               
                            </ul>
                        </div> <!-- navbar collapse -->
                        <div class="login-button">
                            <ul>
                                <li>
                                    <a routerLink="/login"><i class="flaticon-user"></i> Login/Register</a>
                                </li>
                               
                            </ul>
                        </div>
                        <div class="button header-button">
                            <a routerLink="/sell" class="btn main-btn btn-inline">Post Your Ads</a>
                        </div>
                    </nav> <!-- navbar -->
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</header>
<!-- End Header Area -->