
<app-header></app-header>

    <!-- Start Hero Area -->
    <section class="hero-area d-lg-flex align-items-center">
        <div class="container">
            <div class="row align-items-center justify-content-center">
            <!--Start Col  -->
            <div class="col-lg-10">
                <div class="header_hero_content text-center">
                    <!-- Start Hero Title -->
                    <div class="hero-heading">
                        

                        <div class="typed_wrap wow fadeInUp" data-wow-delay=".3s">
                            
                            <h1 data-wow-delay=".3s">World's Largest <span class="typed"></span></h1>
                        </div>
                        <p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt vel nunc vel efficitur. <br> Aliquam facilisis accumsan velit, ac fermentum lectus ultrices id</p>
                    </div>
                    <!-- End Hero Title -->

                    <!-- Start Search Hero -->
                    <div class="hero-search-row wow fadeInUp" data-wow-delay=".7s">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="search-input input-product-keword">
                                   <input type="search" class="form-control" name="keywords" placeholder="Product keywords">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-12">
                                <div class="search-input">
                                   <select class="form-control wide">
                                        <option value="none" selected="" disabled="">Categories</option>
                                        <option value="none">Vehicle</option>
                                        <option value="none">Electronics</option>
                                        <option value="none">Mobiles</option>
                                        <option value="none">Furniture</option>
                                        <option value="none">Fashion</option>
                                        <option value="none">Jobs</option>
                                        <option value="none">Real Estate</option>
                                        <option value="none">Animals</option>
                                        <option value="none">Education</option>
                                        <option value="none">Matrimony</option>
                                        
                                   </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-12">
                                <div class="search-input">
                                   <select class="form-control wide">
                                        <option data-display="Locations">Locations</option>
                                        <option value="Uk, London">Uk, London</option>
                                        <option value="USA, Verginia">USA, Verginia</option>
                                        <option value="Canada">Canada</option>
                                        <option value="Austrilia">Austrilia</option>
                                       
                                   </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-12">
                                <div class="search-button">
                                   <button class="btn main-btn btn-inline-search"><i class="flaticon-search"></i> Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Search Hero -->
                </div>
            </div>
            <!--End Col  -->
            </div>
        </div>
    </section>
    <!-- End Hero Area -->
    


      <!--====== POPULAR CATEGORIES PART START ======-->
    <section id="popular-categories" class="popular-categories-area  pt-120 pb-130">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h3 class="title wow fadeInUp" data-wow-delay=".4s">Our Popular Categories</h3>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras <br> tincidunt vel nunc vel efficitur.</p>
                        
                    </div> <!-- section title -->
                   
                </div>
            </div> <!-- row -->
            <div class="row pt-25">
                
                <!-- Start ads grid -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="ads-grid text-center wow fadeInUp" data-wow-delay=".2s">
                        <div class="thumb-area">
                            <div class="thumb">
                                <a href=""><img src="assets/images/ads/popular/01.jpg" class="img-fluid"></a>
                            </div>
                            <span class="ads-counter counter">214 </span>
                            
                        </div>

                        <div class="content pt-45">
                            <h4><a href="">The Values Store</a></h4>
                        </div>
                    </div>
                </div>
                <!-- End ads grid -->
                <!-- Start ads grid -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="ads-grid text-center wow fadeInUp" data-wow-delay=".4s">
                        <div class="thumb-area">
                            <div class="thumb">
                                <a href=""><img src="assets/images/ads/popular/02.jpg" class="img-fluid"></a>
                            </div>
                            <span class="ads-counter counter">141 </span>
                        </div>
                        <div class="content pt-45">
                            <h4><a href="">The Values Store</a></h4>
                        </div>
                    </div>
                </div>
                <!-- End ads grid -->
                <!-- Start ads grid -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="ads-grid text-center wow fadeInUp" data-wow-delay=".6s">
                        <div class="thumb-area">
                            <div class="thumb">
                                <a href=""><img src="assets/images/ads/popular/03.jpg" class="img-fluid"></a>
                            </div>
                            <span class="ads-counter counter">245 </span>
                        </div>
                        <div class="content pt-45">
                            <h4><a href="">The Values Store</a></h4>
                        </div>
                    </div>
                </div>
                <!-- End ads grid -->
                <!-- Start ads grid -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="ads-grid text-center wow fadeInUp" data-wow-delay=".8s">
                        <div class="thumb-area">
                            <div class="thumb">
                                <a href=""><img src="assets/images/ads/popular/04.jpg" class="img-fluid"></a>
                            </div>
                            <span class="ads-counter counter">457 </span>
                        </div>
                        <div class="content pt-45">
                            <h4><a href="">The Values Store</a></h4>
                        </div>
                    </div>
                </div>
                <!-- End ads grid -->

            </div> <!-- row -->
            <div class="row pt-50">
                
                <!-- Start ads grid -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="ads-grid text-center wow fadeInUp" data-wow-delay=".2s">
                        <div class="thumb-area">
                            <div class="thumb">
                                <a href=""><img src="assets/images/ads/popular/05.jpg" class="img-fluid"></a>
                            </div>
                            <span class="ads-counter counter">544 </span>
                        </div>
                        <div class="content pt-45">
                            <h4><a href="">The Values Store</a></h4>
                        </div>
                    </div>
                </div>
                <!-- End ads grid -->
                <!-- Start ads grid -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="ads-grid text-center wow fadeInUp" data-wow-delay=".4s">
                        <div class="thumb-area">
                            <div class="thumb">
                                <a href=""><img src="assets/images/ads/popular/06.jpg" class="img-fluid"></a>
                            </div>
                            <span class="ads-counter counter">777 </span>
                        </div>
                        <div class="content pt-45">
                            <h4><a href="">The Values Store</a></h4>
                        </div>
                    </div>
                </div>
                <!-- End ads grid -->
                <!-- Start ads grid -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="ads-grid text-center wow fadeInUp" data-wow-delay=".6s">
                        <div class="thumb-area">
                            <div class="thumb">
                                <a href=""><img src="assets/images/ads/popular/07.jpg" class="img-fluid"></a>
                            </div>
                            <span class="ads-counter counter">111 </span>
                        </div>
                        <div class="content pt-45">
                            <h4><a href="">The Values Store</a></h4>
                        </div>
                    </div>
                </div>
                <!-- End ads grid -->
                <!-- Start ads grid -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="ads-grid text-center wow fadeInUp" data-wow-delay=".8s">
                        <div class="thumb-area">
                            <div class="thumb">
                                <a href=""><img src="assets/images/ads/popular/08.jpg" class="img-fluid"></a>
                            </div>
                            <span class="ads-counter counter">999 </span>
                        </div>
                        <div class="content pt-45">
                            <h4><a href="">The Values Store</a></h4>
                        </div>
                    </div>
                </div>
                <!-- End ads grid -->

            </div> <!-- row -->




        </div> <!-- container -->
    </section>
    <!--====== POPULAR CATEGORIES PART END ======-->


    <!--====== MOST POPULAR ADS PART START ======-->
    <section id="most-popular" class="most-popular-area  pt-120 pb-130">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h3 class="title wow fadeInUp" data-wow-delay=".4s">Our Most Popular Ads</h3>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras <br> tincidunt vel nunc vel efficitur.</p>
                        
                    </div> <!-- section title -->
                   
                </div>
            </div> <!-- row --> 

            <div class="row align-items-center justify-content-center">   
                <div class="col-lg-8">
                    <div class="most-popular-list wow fadeInUp" data-wow-delay=".6s">
                        <ul class="nav justify-content-center nav-pills mb-3" id="pills-tab" role="tablist">
                          <li class="nav-item" role="presentation">
                            <button class="nav-link " id="pills-latest-tab" data-bs-toggle="pill" data-bs-target="#pills-latest" type="button" role="tab" aria-controls="pills-latest" aria-selected="true">Latest Ads</button>
                          </li>
                          <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="false">Popular Ads</button>
                          </li>
                          <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-random-tab" data-bs-toggle="pill" data-bs-target="#pills-random" type="button" role="tab" aria-controls="pills-random" aria-selected="false">Random Ads</button>
                          </li>
                        </ul>
                    </div>
                </div>
            </div> <!-- row -->

            <div class="row align-items-center justify-content-center pt-60 ">   
                 <div class="col-lg-12">
                     <div class="most-popular-content">
                        <div class="tab-content" id="pills-tabContent">
                          <div class="tab-pane fade show active" id="pills-latest" role="tabpanel" aria-labelledby="pills-latest-tab">
                             <div class="row">
                                <div class="col-lg-4">
                                    <div class="most-popular-card mb-30 wow fadeInUp" data-wow-delay=".2s">
                                        <div class="most-popular-image">
                                            <img src="assets/images/ads/most/01.jpg" alt="post">
                                           
                                        </div>
                                        <div class="ads-info">
                                            <div class="post-meta">
                                                <ul class="list-unstyled">
                                                    <li><a href="#"><i class="flaticon-tag-black-shape mx-2 ml-0"></i>iPad Pro and M1</a></li>
                                                    <li><a href="#"><i class="flaticon-like mx-2"></i></a></li>
                                                </ul>

                                            </div>
                                            <div class="most-popular-content">
                                                <h5 class="most-popular-title"><a href="#">Ultimate iPad experience.</a></h5>
                                                <h3>$1200  <span>/ Fixed</span></h3>
                                               
                                            </div>
                                            <div class="most-popular-list">
                                                <ul>
                                                    <li><a href=""><i class="flaticon-time mx-2"></i>45 minute ago!</a></li>
                                                    <li><a href=""><i class="flaticon-pin mx-2"></i>Texas, USA</a></li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div> <!-- most popular card -->
                                </div>
                                <div class="col-lg-4">
                                    <div class="most-popular-card mb-30 wow fadeInUp" data-wow-delay=".4s">
                                        <div class="most-popular-image">
                                            <img src="assets/images/ads/most/02.jpg" alt="post">
                                           
                                        </div>
                                        <div class="ads-info">
                                            <div class="post-meta">
                                                <ul class="list-unstyled">
                                                    <li><a href="#"><i class="flaticon-tag-black-shape mx-2 ml-0"></i>iPad Pro and M1</a></li>
                                                    <li><a href="#"><i class="flaticon-like mx-2"></i></a></li>
                                                </ul>

                                            </div>
                                            <div class="most-popular-content">
                                                <h5 class="most-popular-title"><a href="#">Ultimate iPad experience.</a></h5>
                                                <h3>$1200  <span>/ Fixed</span></h3>
                                               
                                            </div>
                                            <div class="most-popular-list">
                                                <ul>
                                                    <li><a href=""><i class="flaticon-time mx-2"></i>45 minute ago!</a></li>
                                                    <li><a href=""><i class="flaticon-pin mx-2"></i>Texas, USA</a></li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div> <!-- most popular card -->
                                </div>
                                <div class="col-lg-4">
                                    <div class="most-popular-card mb-30 wow fadeInUp" data-wow-delay=".6s">
                                        <div class="most-popular-image">
                                            <img src="assets/images/ads/most/03.jpg" alt="post">
                                           
                                        </div>
                                        <div class="ads-info">
                                            <div class="post-meta">
                                                <ul class="list-unstyled">
                                                    <li><a href="#"><i class="flaticon-tag-black-shape mx-2 ml-0"></i>iPad Pro and M1</a></li>
                                                    <li><a href="#"><i class="flaticon-like mx-2"></i></a></li>
                                                </ul>

                                            </div>
                                            <div class="most-popular-content">
                                                <h5 class="most-popular-title"><a href="#">Ultimate iPad experience.</a></h5>
                                                <h3>$1200  <span>/ Fixed</span></h3>
                                               
                                            </div>
                                            <div class="most-popular-list">
                                                <ul>
                                                    <li><a href=""><i class="flaticon-time mx-2"></i>45 minute ago!</a></li>
                                                    <li><a href=""><i class="flaticon-pin mx-2"></i>Texas, USA</a></li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div> <!-- most popular card -->
                                </div>
                             </div>
                             <div class="row">
                                <div class="col-lg-4">
                                    <div class="most-popular-card mb-30 wow fadeInUp" data-wow-delay=".2s">
                                        <div class="most-popular-image">
                                            <img src="assets/images/ads/most/04.jpg" alt="post">
                                           
                                        </div>
                                        <div class="ads-info">
                                            <div class="post-meta">
                                                <ul class="list-unstyled">
                                                    <li><a href="#"><i class="flaticon-tag-black-shape mx-2 ml-0"></i>iPad Pro and M1</a></li>
                                                    <li><a href="#"><i class="flaticon-like mx-2"></i></a></li>
                                                </ul>

                                            </div>
                                            <div class="most-popular-content">
                                                <h5 class="most-popular-title"><a href="#">Ultimate iPad experience.</a></h5>
                                                <h3>$1200  <span>/ Fixed</span></h3>
                                               
                                            </div>
                                            <div class="most-popular-list">
                                                <ul>
                                                    <li><a href=""><i class="flaticon-time mx-2"></i>45 minute ago!</a></li>
                                                    <li><a href=""><i class="flaticon-pin mx-2"></i>Texas, USA</a></li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div> <!-- most popular card -->
                                </div>
                                <div class="col-lg-4">
                                    <div class="most-popular-card mb-30 wow fadeInUp" data-wow-delay=".4s">
                                        <div class="most-popular-image">
                                            <img src="assets/images/ads/most/05.jpg" alt="post">
                                           
                                        </div>
                                        <div class="ads-info">
                                            <div class="post-meta">
                                                <ul class="list-unstyled">
                                                    <li><a href="#"><i class="flaticon-tag-black-shape mx-2 ml-0"></i>iPad Pro and M1</a></li>
                                                    <li><a href="#"><i class="flaticon-like mx-2"></i></a></li>
                                                </ul>

                                            </div>
                                            <div class="most-popular-content">
                                                <h5 class="most-popular-title"><a href="#">Ultimate iPad experience.</a></h5>
                                                <h3>$1200  <span>/ Fixed</span></h3>
                                               
                                            </div>
                                            <div class="most-popular-list">
                                                <ul>
                                                    <li><a href=""><i class="flaticon-time mx-2"></i>45 minute ago!</a></li>
                                                    <li><a href=""><i class="flaticon-pin mx-2"></i>Texas, USA</a></li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div> <!-- most popular card -->
                                </div>
                                <div class="col-lg-4">
                                    <div class="most-popular-card mb-30 wow fadeInUp" data-wow-delay=".6s">
                                        <div class="most-popular-image">
                                            <img src="assets/images/ads/most/01.jpg" alt="post">
                                           
                                        </div>
                                        <div class="ads-info">
                                            <div class="post-meta">
                                                <ul class="list-unstyled">
                                                    <li><a href="#"><i class="flaticon-tag-black-shape mx-2 ml-0"></i>iPad Pro and M1</a></li>
                                                    <li><a href="#"><i class="flaticon-like mx-2"></i></a></li>
                                                </ul>

                                            </div>
                                            <div class="most-popular-content">
                                                <h5 class="most-popular-title"><a href="#">Ultimate iPad experience.</a></h5>
                                                <h3>$1200  <span>/ Fixed</span></h3>
                                               
                                            </div>
                                            <div class="most-popular-list">
                                                <ul>
                                                    <li><a href=""><i class="flaticon-time mx-2"></i>45 minute ago!</a></li>
                                                    <li><a href=""><i class="flaticon-pin mx-2"></i>Texas, USA</a></li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div> <!-- most popular card -->
                                </div>
                             </div>
                          </div>
                          <div class="tab-pane fade" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
                             <div class="row">
                                <div class="col-lg-4">
                                    <div class="most-popular-card mb-30 wow fadeInUp" data-wow-delay=".2s">
                                        <div class="most-popular-image">
                                            <img src="assets/images/ads/most/05.jpg" alt="post">
                                           
                                        </div>
                                        <div class="ads-info">
                                            <div class="post-meta">
                                                <ul class="list-unstyled">
                                                    <li><a href="#"><i class="flaticon-tag-black-shape mx-2 ml-0"></i>iPad Pro and M1</a></li>
                                                    <li><a href="#"><i class="flaticon-like mx-2"></i></a></li>
                                                </ul>

                                            </div>
                                            <div class="most-popular-content">
                                                <h5 class="most-popular-title"><a href="#">Ultimate iPad experience.</a></h5>
                                                <h3>$1200  <span>/ Fixed</span></h3>
                                               
                                            </div>
                                            <div class="most-popular-list">
                                                <ul>
                                                    <li><a href=""><i class="flaticon-time mx-2"></i>45 minute ago!</a></li>
                                                    <li><a href=""><i class="flaticon-pin mx-2"></i>Texas, USA</a></li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div> <!-- most popular card -->
                                </div>
                                <div class="col-lg-4">
                                    <div class="most-popular-card mb-30 wow fadeInUp" data-wow-delay=".4s">
                                        <div class="most-popular-image">
                                            <img src="assets/images/ads/most/04.jpg" alt="post">
                                           
                                        </div>
                                        <div class="ads-info">
                                            <div class="post-meta">
                                                <ul class="list-unstyled">
                                                    <li><a href="#"><i class="flaticon-tag-black-shape mx-2 ml-0"></i>iPad Pro and M1</a></li>
                                                    <li><a href="#"><i class="flaticon-like mx-2"></i></a></li>
                                                </ul>

                                            </div>
                                            <div class="most-popular-content">
                                                <h5 class="most-popular-title"><a href="#">Ultimate iPad experience.</a></h5>
                                                <h3>$1200  <span>/ Fixed</span></h3>
                                               
                                            </div>
                                            <div class="most-popular-list">
                                                <ul>
                                                    <li><a href=""><i class="flaticon-time mx-2"></i>45 minute ago!</a></li>
                                                    <li><a href=""><i class="flaticon-pin mx-2"></i>Texas, USA</a></li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div> <!-- most popular card -->
                                </div>
                                <div class="col-lg-4">
                                    <div class="most-popular-card mb-30 wow fadeInUp" data-wow-delay=".6s">
                                        <div class="most-popular-image">
                                            <img src="assets/images/ads/most/03.jpg" alt="post">
                                           
                                        </div>
                                        <div class="ads-info">
                                            <div class="post-meta">
                                                <ul class="list-unstyled">
                                                    <li><a href="#"><i class="flaticon-tag-black-shape mx-2 ml-0"></i>iPad Pro and M1</a></li>
                                                    <li><a href="#"><i class="flaticon-like mx-2"></i></a></li>
                                                </ul>

                                            </div>
                                            <div class="most-popular-content">
                                                <h5 class="most-popular-title"><a href="#">Ultimate iPad experience.</a></h5>
                                                <h3>$1200  <span>/ Fixed</span></h3>
                                               
                                            </div>
                                            <div class="most-popular-list">
                                                <ul>
                                                    <li><a href=""><i class="flaticon-time mx-2"></i>45 minute ago!</a></li>
                                                    <li><a href=""><i class="flaticon-pin mx-2"></i>Texas, USA</a></li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div> <!-- most popular card -->
                                </div>
                             </div>
                             <div class="row">
                                <div class="col-lg-4">
                                    <div class="most-popular-card mb-30 wow fadeInUp" data-wow-delay=".2s">
                                        <div class="most-popular-image">
                                            <img src="assets/images/ads/most/02.jpg" alt="post">
                                           
                                        </div>
                                        <div class="ads-info">
                                            <div class="post-meta">
                                                <ul class="list-unstyled">
                                                    <li><a href="#"><i class="flaticon-tag-black-shape mx-2 ml-0"></i>iPad Pro and M1</a></li>
                                                    <li><a href="#"><i class="flaticon-like mx-2"></i></a></li>
                                                </ul>

                                            </div>
                                            <div class="most-popular-content">
                                                <h5 class="most-popular-title"><a href="#">Ultimate iPad experience.</a></h5>
                                                <h3>$1200  <span>/ Fixed</span></h3>
                                               
                                            </div>
                                            <div class="most-popular-list">
                                                <ul>
                                                    <li><a href=""><i class="flaticon-time mx-2"></i>45 minute ago!</a></li>
                                                    <li><a href=""><i class="flaticon-pin mx-2"></i>Texas, USA</a></li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div> <!-- most popular card -->
                                </div>
                                <div class="col-lg-4">
                                    <div class="most-popular-card mb-30 wow fadeInUp" data-wow-delay=".4s">
                                        <div class="most-popular-image">
                                            <img src="assets/images/ads/most/01.jpg" alt="post">
                                           
                                        </div>
                                        <div class="ads-info">
                                            <div class="post-meta">
                                                <ul class="list-unstyled">
                                                    <li><a href="#"><i class="flaticon-tag-black-shape mx-2 ml-0"></i>iPad Pro and M1</a></li>
                                                    <li><a href="#"><i class="flaticon-like mx-2"></i></a></li>
                                                </ul>

                                            </div>
                                            <div class="most-popular-content">
                                                <h5 class="most-popular-title"><a href="#">Ultimate iPad experience.</a></h5>
                                                <h3>$1200  <span>/ Fixed</span></h3>
                                               
                                            </div>
                                            <div class="most-popular-list">
                                                <ul>
                                                    <li><a href=""><i class="flaticon-time mx-2"></i>45 minute ago!</a></li>
                                                    <li><a href=""><i class="flaticon-pin mx-2"></i>Texas, USA</a></li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div> <!-- most popular card -->
                                </div>
                                <div class="col-lg-4">
                                    <div class="most-popular-card mb-30 wow fadeInUp" data-wow-delay=".6s">
                                        <div class="most-popular-image">
                                            <img src="assets/images/ads/most/05.jpg" alt="post">
                                           
                                        </div>
                                        <div class="ads-info">
                                            <div class="post-meta">
                                                <ul class="list-unstyled">
                                                    <li><a href="#"><i class="flaticon-tag-black-shape mx-2 ml-0"></i>iPad Pro and M1</a></li>
                                                    <li><a href="#"><i class="flaticon-like mx-2"></i></a></li>
                                                </ul>

                                            </div>
                                            <div class="most-popular-content">
                                                <h5 class="most-popular-title"><a href="#">Ultimate iPad experience.</a></h5>
                                                <h3>$1200  <span>/ Fixed</span></h3>
                                               
                                            </div>
                                            <div class="most-popular-list">
                                                <ul>
                                                    <li><a href=""><i class="flaticon-time mx-2"></i>45 minute ago!</a></li>
                                                    <li><a href=""><i class="flaticon-pin mx-2"></i>Texas, USA</a></li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div> <!-- most popular card -->
                                </div>
                             </div>
                          </div>
                          <div class="tab-pane fade" id="pills-random" role="tabpanel" aria-labelledby="pills-random-tab">
                             <div class="row">
                                <div class="col-lg-4">
                                    <div class="most-popular-card mb-30 wow fadeInUp" data-wow-delay=".2s">
                                        <div class="most-popular-image">
                                            <img src="assets/images/ads/most/01.jpg" alt="post">
                                           
                                        </div>
                                        <div class="ads-info">
                                            <div class="post-meta">
                                                <ul class="list-unstyled">
                                                    <li><a href="#"><i class="flaticon-tag-black-shape mx-2 ml-0"></i>iPad Pro and M1</a></li>
                                                    <li><a href="#"><i class="flaticon-like mx-2"></i></a></li>
                                                </ul>

                                            </div>
                                            <div class="most-popular-content">
                                                <h5 class="most-popular-title"><a href="#">Ultimate iPad experience.</a></h5>
                                                <h3>$1200  <span>/ Fixed</span></h3>
                                               
                                            </div>
                                            <div class="most-popular-list">
                                                <ul>
                                                    <li><a href=""><i class="flaticon-time mx-2"></i>45 minute ago!</a></li>
                                                    <li><a href=""><i class="flaticon-pin mx-2"></i>Texas, USA</a></li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div> <!-- most popular card -->
                                </div>
                                <div class="col-lg-4">
                                    <div class="most-popular-card mb-30 wow fadeInUp" data-wow-delay=".4s">
                                        <div class="most-popular-image">
                                            <img src="assets/images/ads/most/02.jpg" alt="post">
                                           
                                        </div>
                                        <div class="ads-info">
                                            <div class="post-meta">
                                                <ul class="list-unstyled">
                                                    <li><a href="#"><i class="flaticon-tag-black-shape mx-2 ml-0"></i>iPad Pro and M1</a></li>
                                                    <li><a href="#"><i class="flaticon-like mx-2"></i></a></li>
                                                </ul>

                                            </div>
                                            <div class="most-popular-content">
                                                <h5 class="most-popular-title"><a href="#">Ultimate iPad experience.</a></h5>
                                                <h3>$1200  <span>/ Fixed</span></h3>
                                               
                                            </div>
                                            <div class="most-popular-list">
                                                <ul>
                                                    <li><a href=""><i class="flaticon-time mx-2"></i>45 minute ago!</a></li>
                                                    <li><a href=""><i class="flaticon-pin mx-2"></i>Texas, USA</a></li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div> <!-- most popular card -->
                                </div>
                                <div class="col-lg-4">
                                    <div class="most-popular-card mb-30 wow fadeInUp" data-wow-delay=".6s">
                                        <div class="most-popular-image">
                                            <img src="assets/images/ads/most/03.jpg" alt="post">
                                           
                                        </div>
                                        <div class="ads-info">
                                            <div class="post-meta">
                                                <ul class="list-unstyled">
                                                    <li><a href="#"><i class="flaticon-tag-black-shape mx-2 ml-0"></i>iPad Pro and M1</a></li>
                                                    <li><a href="#"><i class="flaticon-like mx-2"></i></a></li>
                                                </ul>

                                            </div>
                                            <div class="most-popular-content">
                                                <h5 class="most-popular-title"><a href="#">Ultimate iPad experience.</a></h5>
                                                <h3>$1200  <span>/ Fixed</span></h3>
                                               
                                            </div>
                                            <div class="most-popular-list">
                                                <ul>
                                                    <li><a href=""><i class="flaticon-time mx-2"></i>45 minute ago!</a></li>
                                                    <li><a href=""><i class="flaticon-pin mx-2"></i>Texas, USA</a></li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div> <!-- most popular card -->
                                </div>
                             </div>
                             <div class="row">
                                <div class="col-lg-4">
                                    <div class="most-popular-card mb-30 wow fadeInUp" data-wow-delay=".2s">
                                        <div class="most-popular-image">
                                            <img src="assets/images/ads/most/04.jpg" alt="post">
                                           
                                        </div>
                                        <div class="ads-info">
                                            <div class="post-meta">
                                                <ul class="list-unstyled">
                                                    <li><a href="#"><i class="flaticon-tag-black-shape mx-2 ml-0"></i>iPad Pro and M1</a></li>
                                                    <li><a href="#"><i class="flaticon-like mx-2"></i></a></li>
                                                </ul>

                                            </div>
                                            <div class="most-popular-content">
                                                <h5 class="most-popular-title"><a href="#">Ultimate iPad experience.</a></h5>
                                                <h3>$1200  <span>/ Fixed</span></h3>
                                               
                                            </div>
                                            <div class="most-popular-list">
                                                <ul>
                                                    <li><a href=""><i class="flaticon-time mx-2"></i>45 minute ago!</a></li>
                                                    <li><a href=""><i class="flaticon-pin mx-2"></i>Texas, USA</a></li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div> <!-- most popular card -->
                                </div>
                                <div class="col-lg-4">
                                    <div class="most-popular-card mb-30 wow fadeInUp" data-wow-delay=".4s">
                                        <div class="most-popular-image">
                                            <img src="assets/images/ads/most/05.jpg" alt="post">
                                           
                                        </div>
                                        <div class="ads-info">
                                            <div class="post-meta">
                                                <ul class="list-unstyled">
                                                    <li><a href="#"><i class="flaticon-tag-black-shape mx-2 ml-0"></i>iPad Pro and M1</a></li>
                                                    <li><a href="#"><i class="flaticon-like mx-2"></i></a></li>
                                                </ul>

                                            </div>
                                            <div class="most-popular-content">
                                                <h5 class="most-popular-title"><a href="#">Ultimate iPad experience.</a></h5>
                                                <h3>$1200  <span>/ Fixed</span></h3>
                                               
                                            </div>
                                            <div class="most-popular-list">
                                                <ul>
                                                    <li><a href=""><i class="flaticon-time mx-2"></i>45 minute ago!</a></li>
                                                    <li><a href=""><i class="flaticon-pin mx-2"></i>Texas, USA</a></li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div> <!-- most popular card -->
                                </div>
                                <div class="col-lg-4">
                                    <div class="most-popular-card mb-30 wow fadeInUp" data-wow-delay=".6s">
                                        <div class="most-popular-image">
                                            <img src="assets/images/ads/most/01.jpg" alt="post">
                                           
                                        </div>
                                        <div class="ads-info">
                                            <div class="post-meta">
                                                <ul class="list-unstyled">
                                                    <li><a href="#"><i class="flaticon-tag-black-shape mx-2 ml-0"></i>iPad Pro and M1</a></li>
                                                    <li><a href="#"><i class="flaticon-like mx-2"></i></a></li>
                                                </ul>

                                            </div>
                                            <div class="most-popular-content">
                                                <h5 class="most-popular-title"><a href="#">Ultimate iPad experience.</a></h5>
                                                <h3>$1200  <span>/ Fixed</span></h3>
                                               
                                            </div>
                                            <div class="most-popular-list">
                                                <ul>
                                                    <li><a href=""><i class="flaticon-time mx-2"></i>45 minute ago!</a></li>
                                                    <li><a href=""><i class="flaticon-pin mx-2"></i>Texas, USA</a></li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div> <!-- most popular card -->
                                </div>
                             </div>
                          </div>
                        </div>
                     </div>
                 </div>
            </div> <!-- row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="read_more_ads text-center  wow fadeInUp" data-wow-delay=".4s">
                         <a href="javascript:void(0)" class="btn main-btn btn-inline">Load more Ads</a>
                    </div> 
                   
                </div>
            </div> <!-- row -->



        </div> <!-- container -->
    </section>
    <!--====== MOST POPULAR ADS PART END ======-->


    <!--====== CLIENT TESTIMONIALS PART START ======-->

    <section class="client_testimonials pt-120 pb-130">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h3 class="title text-white wow fadeInUp" data-wow-delay=".4s">Client Testimonials</h3>
                        <p class="wow text-white fadeInUp" data-wow-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras <br> tincidunt vel nunc vel efficitur.</p>
                        
                    </div> <!-- section title -->
                   
                </div>
            </div> <!-- row -->

            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="row testimonial1 mt-20 wow fadeInUp" data-wow-delay=".4s">
                        <div class="col-lg-6">
                            <div class="client_single_info mb-90 mx-2 text-center">

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim in quam in cursus. Praesent in augue ante. Proin id mattis nulla. Cras diam sem, dignissim sit amet est nec, ullamcorper porttitor sem.</p>
                               <div class="client_thumb text-center mb-5">
                                    <img src="assets/images/testimoni/01.png" class="img-fluid" alt="">
                                    <h5 class="mb-2 mt-4">Norma P. Renner</h5>
                                    <span>UI/UX Designer</span>
                                </div>

                            </div> <!-- single client -->
                        </div>
                        <div class="col-lg-6">
                            <div class="client_single_info mb-90 mx-2  text-center">

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim in quam in cursus. Praesent in augue ante. Proin id mattis nulla. Cras diam sem, dignissim sit amet est nec, ullamcorper porttitor sem.</p>
                               <div class="client_thumb text-center mb-5">
                                    <img src="assets/images/testimoni/02.png" class="img-fluid" alt="">
                                    <h5 class="mb-2 mt-4">Norma P. Renner</h5>
                                    <span>UI/UX Designer</span>
                                </div>

                            </div> <!-- single client -->
                        </div>
                        <div class="col-lg-6">
                            <div class="client_single_info mb-90 mx-2  text-center">

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim in quam in cursus. Praesent in augue ante. Proin id mattis nulla. Cras diam sem, dignissim sit amet est nec, ullamcorper porttitor sem.</p>
                               <div class="client_thumb text-center mb-5">
                                    <img src="assets/images/testimoni/01.png" class="img-fluid" alt="">
                                    <h5 class="mb-2 mt-4">Norma P. Renner</h5>
                                    <span>UI/UX Designer</span>
                                </div>

                            </div> <!-- single client -->
                        </div>
                 
         
                       
              
                    </div> <!-- row -->
                </div>

            </div>



        </div> <!-- container -->
    </section>

    <!--====== CLIENT TESTIMONIALS PART ENDS ======-->



    <!--====== OUR MOST POPULAR PLACES PART START ======-->

    <section class="popular_places pt-120 pb-130">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h3 class="title wow fadeInUp" data-wow-delay=".4s">Our Most Popular Places</h3>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras <br> tincidunt vel nunc vel efficitur.</p>
                        
                    </div> <!-- section title -->
                   
                </div>
            </div> <!-- row -->

            <div class="row">
                <!-- Start grid Col -->
                <div class="col-lg-5 col-md-6 col-12">
                    <a href="#">
                    <div class="place-grid text-center wow fadeInUp" data-wow-delay=".2s">
                        <div class="thumb">
                            <img src="assets/images/place/01.jpg" class="img-fluid">
                        </div>
                        <div class="places-btn">
                            <a class="btn main-btn btn-inline" href="#">New York City</a>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- End grid Col -->
                <!-- Start grid Col -->
                <div class="col-lg-4 col-md-6 col-12">
                    <a href="#">
                    <div class="place-grid text-center wow fadeInUp" data-wow-delay=".4s">
                        <div class="thumb">
                            <img src="assets/images/place/07.jpg" class="img-fluid">
                        </div>
                        <div class="places-btn">
                            <a class="btn main-btn btn-inline" href="">Texas City</a>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- End grid Col -->
                <!-- Start grid Col -->
                <div class="col-lg-3 col-md-6 col-12">
                    <a href="#">
                    <div class="place-grid text-center wow fadeInUp" data-wow-delay=".4s">
                        <div class="thumb">
                            <img src="assets/images/place/04.jpg" class="img-fluid">
                        </div>
                        <div class="places-btn">
                            <a class="btn main-btn btn-inline" href="">Salt Lake City</a>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- End grid Col -->
            

            </div>
            <div class="row">
                <!-- Start grid Col -->
                <div class="col-lg-3 col-md-6 col-12">
                    <a href="#">
                    <div class="place-grid text-center wow fadeInUp" data-wow-delay=".2s">
                        <div class="thumb">
                            <img src="assets/images/place/05.jpg" class="img-fluid">
                        </div>
                        <div class="places-btn">
                            <a class="btn main-btn btn-inline" href="">Salt Lake City</a>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- End grid Col -->
                <!-- Start grid Col -->
                <div class="col-lg-4 col-md-6 col-12">
                    <a href="#">
                    <div class="place-grid text-center wow fadeInUp" data-wow-delay=".4s">
                        <div class="thumb">
                            <img src="assets/images/place/03.jpg" class="img-fluid">
                        </div>
                        <div class="places-btn">
                            <a class="btn main-btn btn-inline" href="">Texas City</a>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- End grid Col -->
                <!-- Start grid Col -->
                <div class="col-lg-5 col-md-6 col-12">
                    <a href="#">
                    <div class="place-grid text-center wow fadeInUp" data-wow-delay=".6s">
                        <div class="thumb">
                            <img src="assets/images/place/06.jpg" class="img-fluid">
                        </div>
                        <div class="places-btn">
                            <a class="btn main-btn btn-inline" href="">New York City</a>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- End grid Col -->
            

            </div>

            <div class="row pt-30">
                <div class="col-lg-12">
                    <div class="read_more_ads text-center  wow fadeInUp" data-wow-delay=".4s">
                         <a href="javascript:void(0)" class="btn main-btn btn-inline">View All Places</a>
                    </div> 
                   
                </div>
            </div> <!-- row -->

        </div> <!-- container -->
    </section>

    <!--====== OUR MOST POPULAR PLACES PART ENDS ======-->



    <!--====== OUR PRICING PLANE PART START ======-->


    <section id="pricing" class="pricing-area  pt-120 pb-130">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h3 class="title wow fadeInUp" data-wow-delay=".2s">Choose Your Plan</h3>
                        <p class="wow fadeInUp" data-wow-delay=".4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat <br> sodales mi ut commodo. Nulla scelerisque finibus consectetur. </p>
                        
                    </div> <!-- section title -->
                   
                </div>
            </div> <!-- row -->
            <div class="pricing-card">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cd-pricing-container cd-has-margins pt-10">
                            <div class="cd-pricing-switcher pricing-switcher-tow wow fadeInUp" data-wow-delay=".2s">
                                <div class="fieldset">
                                    <input type="radio" name="duration-2" value="yearly" id="yearly-2" checked>
                                    <label for="yearly-2">Pay Yearly</label>
                                    <input type="radio" name="duration-2" value="monthly" id="monthly-2">
                                    <label for="monthly-2">Pay Monthly</label>
                                    <span class="cd-switch"></span>
                                </div>
                            </div> <!-- cd pricing-switcher -->

                            <ul class="cd-pricing-list cd-bounce-invert">
                                <li>
                                    <ul class="cd-pricing-wrapper wow fadeInUp" data-wow-delay=".2s">
                                        <li data-type="yearly" class="is-visible">
                                            <div class="single-pricing pricing-tow pricing-body text-center">

                                                <div class="pricing-price mt-30">
                                                    <h2>$25 <span>/yr</span></h2>
                                                    <p>Starter</p>
                                                </div>
                                                <div class="pricing-content mt-25 mb-25">
                                                    <ul class="table-list">
                                                        <li>1 website</li>
                                                        <li>15 gb bandwidth</li>
                                                        <li>15 gb space</li>
                                                        <li>6 month support</li>
                                                        <li>free domain</li>
                                                        <li>free email</li>
                                                    </ul>
                                                   
                                                </div>
                                                <div class="price-btn">
                                                     <a class="btn main-btn btn-inline" href="#">Register Now</a>
                                                </div>
                                            </div> <!-- single price -->
                                        </li>
                                        <li data-type="monthly" class="is-hidden">
                                            <div class="single-pricing pricing-tow pricing-body text-center">

                                                <div class="pricing-price mt-30">
                                                    <h2>$25 <span>/mo</span></h2>
                                                    <p>Starter</p>
                                                </div>
                                                <div class="pricing-content mt-25 mb-25">
                                                    <ul class="table-list">
                                                        <li>1 website</li>
                                                        <li>15 gb bandwidth</li>
                                                        <li>15 gb space</li>
                                                        <li>6 month support</li>
                                                        <li>free domain</li>
                                                        <li>free email</li>
                                                    </ul>
                                                   
                                                </div>
                                                <div class="price-btn">
                                                     <a class="btn main-btn btn-inline" href="#">Register Now</a>
                                                </div>
                                            </div> <!-- single price -->
                                        </li>
                                    </ul> <!-- cd-pricing-wrapper -->
                                </li>
                                <li class="cd-popular">
                                    <ul class="cd-pricing-wrapper wow fadeInUp" data-wow-delay=".4s">
                                        <li data-type="yearly" class="is-visible">
                                            <div class="single-pricing middle-align pricing-tow pricing-body text-center">

                                                <div class="pricing-price mt-30">
                                                    <h2>$100 <span>/yr</span></h2>
                                                    <p>Silver</p>
                                                </div>
                                                <div class="pricing-content mt-25 mb-25">
                                                    <ul class="table-list">
                                                        <li>1 website</li>
                                                        <li>15 gb bandwidth</li>
                                                        <li>15 gb space</li>
                                                        <li>6 month support</li>
                                                        <li>free domain</li>
                                                        <li>free email</li>
                                                    </ul>
                                                   
                                                </div>
                                                <div class="price-btn">
                                                     <a class="btn main-btn btn-inline" href="#">Register Now</a>
                                                </div>
                                            </div> <!-- single price -->
                                        </li>
                                        <li data-type="monthly" class="is-hidden">
                                            <div class="single-pricing middle-align pricing-tow pricing-body text-center">
                                         
                                                <div class="pricing-price mt-30">
                                                    <h2>$100 <span>/mo</span></h2>
                                                    <p>Silver</p>
                                                </div>
                                                <div class="pricing-content mt-25 mb-25">
                                                    <ul class="table-list">
                                                        <li>1 website</li>
                                                        <li>15 gb bandwidth</li>
                                                        <li>15 gb space</li>
                                                        <li>6 month support</li>
                                                        <li>free domain</li>
                                                        <li>free email</li>
                                                    </ul>
                                                   
                                                </div>
                                                <div class="price-btn">
                                                     <a class="btn main-btn btn-inline" href="#">Register Now</a>
                                                </div>
                                            </div> <!-- single price -->
                                        </li>
                                    </ul> <!-- cd-pricing-wrapper -->
                                </li>
                                <li>
                                    <ul class="cd-pricing-wrapper wow fadeInUp" data-wow-delay=".6s">
                                        <li data-type="yearly" class="is-visible">
                                            <div class="single-pricing pricing-tow pricing-body text-center">
                                                
                                                <div class="pricing-price mt-30">
                                                    <h2>$150 <span>/yr</span></h2>
                                                    <p>Gold</p>
                                                </div>
                                                <div class="pricing-content mt-25 mb-25">
                                                    <ul class="table-list">
                                                        <li>1 website</li>
                                                        <li>15 gb bandwidth</li>
                                                        <li>15 gb space</li>
                                                        <li>6 month support</li>
                                                        <li>free domain</li>
                                                        <li>free email</li>
                                                    </ul>
                                                   
                                                </div>
                                                <div class="price-btn">
                                                     <a class="btn main-btn btn-inline" href="#">Register Now</a>
                                                </div>
                                            </div> <!-- single price -->
                                        </li>
                                        <li data-type="monthly" class="is-hidden">
                                            <div class="single-pricing pricing-tow pricing-body text-center">
                                                
                                                <div class="pricing-price mt-60">
                                                    <h2>$150 <span>/mo</span></h2>
                                                    <p>Gold</p>
                                                </div>
                                                <div class="pricing-content mt-25 mb-25">
                                                    <ul class="table-list">
                                                        <li>1 website</li>
                                                        <li>15 gb bandwidth</li>
                                                        <li>15 gb space</li>
                                                        <li>6 month support</li>
                                                        <li>free domain</li>
                                                        <li>free email</li>
                                                    </ul>
                                                   
                                                </div>
                                                <div class="price-btn">
                                                     <a class="btn main-btn btn-inline" href="#">Register Now</a>
                                                </div>
                                            </div> <!-- single price -->
                                        </li>
                                    </ul> <!-- cd-pricing-wrapper -->
                                </li>
                            </ul> <!-- cd-pricing-list -->
                        </div> <!-- cd-pricing-container -->
                    </div>
                </div> <!-- row -->
            </div> <!-- row -->
        </div> <!-- container -->
    </section>


    <!--====== OUR PRICING PLANE PART ENDS ======-->


    <!--====== UPCOMING BLOG POST PART START ======-->

    <section class="grid-blog-post-area blog_style2 pt-120 pb-130">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h3 class="title wow fadeInUp" data-wow-delay=".2s">Our Latest Blog & News</h3>
                        <p class="wow fadeInUp" data-wow-delay=".4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus <br> rhoncus pharetra nisi feugiat vulputate. Ut aliquet, </p>
                        
                    </div> <!-- section title -->
                   
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="blog-card mt-30 mb-30 wow fadeInUp" data-wow-delay=".2s">
                        <div class="blog-image">
                            <img src="assets/images/blog/1.jpg" alt="post">
                           
                        </div>
                        <div class="post-meta py-3">
                            <ul class="list-unstyled">
                                <li><a href=""><i class="flaticon-user mx-2 ml-0"></i>By Admin</a></li>
                                <li><a href=""><i class="flaticon-calendar mx-2"></i>09 May 2021</a></li>
                            </ul>

                        </div>
                        <div class="blog-content">
                            <h5 class="blog-title"><a href="blog-details.html">Including animation in your design system</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipi 
tempor et ex consequat, dignissim </p> 
                           <a class="btn main-btn btn-inline" href="blog-details.html">Read More</a>
                        </div>
                    </div> <!-- blog card -->
                </div>
                <div class="col-lg-4">
                    <div class="blog-card mt-30 mb-30 wow fadeInUp" data-wow-delay=".4s">
                        <div class="blog-image">
                            <img src="assets/images/blog/2.jpg" alt="post">
                           
                        </div>
                        <div class="post-meta py-3">
                            <ul class="list-unstyled">
                                <li><a href=""><i class="flaticon-user mx-2 ml-0"></i>By Admin</a></li>
                                <li><a href=""><i class="flaticon-calendar mx-2"></i>09 May 2021</a></li>
                            </ul>

                        </div>
                        <div class="blog-content">
                            <h5 class="blog-title"><a href="blog-details.html">A digital prescription for the industry.</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipi 
tempor et ex consequat, dignissim </p> 
                           <a class="btn main-btn btn-inline" href="blog-details.html">Read More</a>
                        </div>
                    </div> <!-- blog card -->
                </div>
                <div class="col-lg-4">
                    <div class="blog-card mt-30 mb-30 wow fadeInUp" data-wow-delay=".6s">
                        <div class="blog-image">
                            <img src="assets/images/blog/3.jpg" alt="post">
                           
                        </div>
                        <div class="post-meta py-3">
                            <ul class="list-unstyled">
                                <li><a href=""><i class="flaticon-user mx-2 ml-0"></i>By Admin</a></li>
                                <li><a href=""><i class="flaticon-calendar mx-2"></i>09 May 2021</a></li>
                            </ul>

                        </div>
                        <div class="blog-content">
                            <h5 class="blog-title"><a href="blog-details.html">Strategic & commercial approach with issues.</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipi 
tempor et ex consequat, dignissim </p> 
                           <a class="btn main-btn btn-inline" href="blog-details.html">Read More</a>
                        </div>
                    </div> <!-- blog card -->
                </div>


            </div> <!-- row -->




        </div> <!-- container -->
    </section>

    <!--====== UPCOMING BLOG POST PART ENDS ======-->

    <!--====== FOOTER PART START ======-->

    <footer class="footer-area">
        <div class="footer-widget pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row mx-2 d-flex align-items-center justify-content-center subscribe_row rounded pt-40 pb-40 pl-30 pr-30">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="footer-subscribe-title">
                                    <h4>Newslwtter</h4>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="subscribe-form">
                                    <form>
                                        
                                    
                                    <div class="col-12 form-line">
                                      <div class="form-group">
                                      <input type="email" class="form-control" name="email" placeholder="Enter Email Address....">
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <div class="form-submit">
                                      <button type="submit" class="btn-inline main-btn-inline-subscribe">Subscribe</button>
                                      </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-link pt-35">
                            <h4 class="footer-title mb-25">Quick Links </h4>
                            <ul>
                                <li><a href="#">Store Location</a></li>
                                <li><a href="#">Orders Tracking</a></li>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Size Guide</a></li>
                                <li><a href="#">Faq</a></li>
                              
                            </ul>
                        </div> <!-- footer link -->
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-link pt-35">
                            <h4 class="footer-title mb-25">How To Sell Fast </h4>
                            <ul>
                                <li><a href="#">How To Sell Fast</a></li>
                                <li><a href="#">Membership</a></li>
                                <li><a href="#">Banner Advertising</a></li>
                                <li><a href="#">Promote Your Ad</a></li>
                                <li><a href="#">Trade Delivers</a></li>
                            
                              
                            </ul>
                        </div> <!-- footer link -->
                    </div>


                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-link pt-35">
                            <h4 class="footer-title mb-25">Information </h4>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Delivery System</a></li>
                                <li><a href="#">Secure Payment</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Sitemap</a></li>
                               
                            </ul>
                        </div> <!-- footer link -->
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-link pt-35">
                            <h4 class="footer-title mb-25">Help & Support </h4>
                            <ul>
                                <li><a href="#">Live Chat</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">How to Stay Safe</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div> <!-- footer link -->
                    </div>



                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer widget -->

        <div class="footer-copyright pt-10 pb-20">
            <div class="container">
                <div class="copyright-section d-md-flex align-items-center justify-content-between">
                    <div class="copyright text-center pt-10">
                       
                         <p class="pt-2 text">All copyrights reserved © 2021 - Designed & Developed by <a target="_blank" href="https://gridtemplate.com/">GridTemplate</a> </p>
                    </div> <!-- copyright -->
                    <div class="footer-bottom text-lg-end pt-15">
                        <div class="payment-icons">
                            <img src="assets/images/normal/payment.png" class="img-fluid">
                        </div>
                    </div> <!-- payment -->
                </div> <!-- copyright payment -->
            </div> <!-- container -->
        </div> <!-- footer copyright -->
    </footer>


 

  <!-- Resources -->
  <h2>Resources</h2>
  <p>Here are some links to help you get started:</p>

  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
      <span>Learn Angular</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/></svg>
      <span>CLI Documentation</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://material.angular.io">
      <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 8px" width="21.813" height="23.453" viewBox="0 0 179.2 192.7"><path fill="#ffa726" d="M89.4 0 0 32l13.5 118.4 75.9 42.3 76-42.3L179.2 32 89.4 0z"/><path fill="#fb8c00" d="M89.4 0v192.7l76-42.3L179.2 32 89.4 0z"/><path fill="#ffe0b2" d="m102.9 146.3-63.3-30.5 36.3-22.4 63.7 30.6-36.7 22.3z"/><path fill="#fff3e0" d="M102.9 122.8 39.6 92.2l36.3-22.3 63.7 30.6-36.7 22.3z"/><path fill="#fff" d="M102.9 99.3 39.6 68.7l36.3-22.4 63.7 30.6-36.7 22.4z"/></svg>
      <span>Angular Material</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://blog.angular.io/">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z"/></svg>
      <span>Angular Blog</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/devtools/">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24"/></g><g><g><path d="M14.73,13.31C15.52,12.24,16,10.93,16,9.5C16,5.91,13.09,3,9.5,3S3,5.91,3,9.5C3,13.09,5.91,16,9.5,16 c1.43,0,2.74-0.48,3.81-1.27L19.59,21L21,19.59L14.73,13.31z M9.5,14C7.01,14,5,11.99,5,9.5S7.01,5,9.5,5S14,7.01,14,9.5 S11.99,14,9.5,14z"/><polygon points="10.29,8.44 9.5,6 8.71,8.44 6.25,8.44 8.26,10.03 7.49,12.5 9.5,10.97 11.51,12.5 10.74,10.03 12.75,8.44"/></g></g></svg>
      <span>Angular DevTools</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

  </div>

  <!-- Next Steps -->
  <h2>Next Steps</h2>
  <p>What do you want to do next with your app?</p>

  <input type="hidden" #selection>

  <div class="card-container">
    <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>New Component</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Angular Material</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Add PWA Support</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Add Dependency</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'test'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Run and Watch Tests</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'build'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Build for Production</span>
    </button>
  </div>

  <!-- Terminal -->
  <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>ng generate component xyz</pre>
      <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
      <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
      <pre *ngSwitchCase="'dependency'">ng add _____</pre>
      <pre *ngSwitchCase="'test'">ng test</pre>
      <pre *ngSwitchCase="'build'">ng build</pre>
  </div>

  <!-- Links -->
  <div class="card-container">
    <a class="circle-link" title="Find a Local Meetup" href="https://www.meetup.com/find/?keywords=angular" target="_blank" rel="noopener">
      <svg xmlns="http://www.w3.org/2000/svg" width="24.607" height="23.447" viewBox="0 0 24.607 23.447">
        <title>Meetup Logo</title>
        <path id="logo--mSwarm" d="M21.221,14.95A4.393,4.393,0,0,1,17.6,19.281a4.452,4.452,0,0,1-.8.069c-.09,0-.125.035-.154.117a2.939,2.939,0,0,1-2.506,2.091,2.868,2.868,0,0,1-2.248-.624.168.168,0,0,0-.245-.005,3.926,3.926,0,0,1-2.589.741,4.015,4.015,0,0,1-3.7-3.347,2.7,2.7,0,0,1-.043-.38c0-.106-.042-.146-.143-.166a3.524,3.524,0,0,1-1.516-.69A3.623,3.623,0,0,1,2.23,14.557a3.66,3.66,0,0,1,1.077-3.085.138.138,0,0,0,.026-.2,3.348,3.348,0,0,1-.451-1.821,3.46,3.46,0,0,1,2.749-3.28.44.44,0,0,0,.355-.281,5.072,5.072,0,0,1,3.863-3,5.028,5.028,0,0,1,3.555.666.31.31,0,0,0,.271.03A4.5,4.5,0,0,1,18.3,4.7a4.4,4.4,0,0,1,1.334,2.751,3.658,3.658,0,0,1,.022.706.131.131,0,0,0,.1.157,2.432,2.432,0,0,1,1.574,1.645,2.464,2.464,0,0,1-.7,2.616c-.065.064-.051.1-.014.166A4.321,4.321,0,0,1,21.221,14.95ZM13.4,14.607a2.09,2.09,0,0,0,1.409,1.982,4.7,4.7,0,0,0,1.275.221,1.807,1.807,0,0,0,.9-.151.542.542,0,0,0,.321-.545.558.558,0,0,0-.359-.534,1.2,1.2,0,0,0-.254-.078c-.262-.047-.526-.086-.787-.138a.674.674,0,0,1-.617-.75,3.394,3.394,0,0,1,.218-1.109c.217-.658.509-1.286.79-1.918a15.609,15.609,0,0,0,.745-1.86,1.95,1.95,0,0,0,.06-1.073,1.286,1.286,0,0,0-1.051-1.033,1.977,1.977,0,0,0-1.521.2.339.339,0,0,1-.446-.042c-.1-.092-.2-.189-.307-.284a1.214,1.214,0,0,0-1.643-.061,7.563,7.563,0,0,1-.614.512A.588.588,0,0,1,10.883,8c-.215-.115-.437-.215-.659-.316a2.153,2.153,0,0,0-.695-.248A2.091,2.091,0,0,0,7.541,8.562a9.915,9.915,0,0,0-.405.986c-.559,1.545-1.015,3.123-1.487,4.7a1.528,1.528,0,0,0,.634,1.777,1.755,1.755,0,0,0,1.5.211,1.35,1.35,0,0,0,.824-.858c.543-1.281,1.032-2.584,1.55-3.875.142-.355.28-.712.432-1.064a.548.548,0,0,1,.851-.24.622.622,0,0,1,.185.539,2.161,2.161,0,0,1-.181.621c-.337.852-.68,1.7-1.018,2.552a2.564,2.564,0,0,0-.173.528.624.624,0,0,0,.333.71,1.073,1.073,0,0,0,.814.034,1.22,1.22,0,0,0,.657-.655q.758-1.488,1.511-2.978.35-.687.709-1.37a1.073,1.073,0,0,1,.357-.434.43.43,0,0,1,.463-.016.373.373,0,0,1,.153.387.7.7,0,0,1-.057.236c-.065.157-.127.316-.2.469-.42.883-.846,1.763-1.262,2.648A2.463,2.463,0,0,0,13.4,14.607Zm5.888,6.508a1.09,1.09,0,0,0-2.179.006,1.09,1.09,0,0,0,2.179-.006ZM1.028,12.139a1.038,1.038,0,1,0,.01-2.075,1.038,1.038,0,0,0-.01,2.075ZM13.782.528a1.027,1.027,0,1,0-.011,2.055A1.027,1.027,0,0,0,13.782.528ZM22.21,6.95a.882.882,0,0,0-1.763.011A.882.882,0,0,0,22.21,6.95ZM4.153,4.439a.785.785,0,1,0,.787-.78A.766.766,0,0,0,4.153,4.439Zm8.221,18.22a.676.676,0,1,0-.677.666A.671.671,0,0,0,12.374,22.658ZM22.872,12.2a.674.674,0,0,0-.665.665.656.656,0,0,0,.655.643.634.634,0,0,0,.655-.644A.654.654,0,0,0,22.872,12.2ZM7.171-.123A.546.546,0,0,0,6.613.43a.553.553,0,1,0,1.106,0A.539.539,0,0,0,7.171-.123ZM24.119,9.234a.507.507,0,0,0-.493.488.494.494,0,0,0,.494.494.48.48,0,0,0,.487-.483A.491.491,0,0,0,24.119,9.234Zm-19.454,9.7a.5.5,0,0,0-.488-.488.491.491,0,0,0-.487.5.483.483,0,0,0,.491.479A.49.49,0,0,0,4.665,18.936Z" transform="translate(0 0.123)" fill="#f64060"/>
      </svg>
    </a>

    <a class="circle-link" title="Join the Conversation on Discord" href="https://discord.gg/angular" target="_blank" rel="noopener">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 245 240">
        <title>Discord Logo</title>
        <path d="M104.4 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1.1-6.1-4.5-11.1-10.2-11.1zM140.9 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1s-4.5-11.1-10.2-11.1z"/>
        <path d="M189.5 20h-134C44.2 20 35 29.2 35 40.6v135.2c0 11.4 9.2 20.6 20.5 20.6h113.4l-5.3-18.5 12.8 11.9 12.1 11.2 21.5 19V40.6c0-11.4-9.2-20.6-20.5-20.6zm-38.6 130.6s-3.6-4.3-6.6-8.1c13.1-3.7 18.1-11.9 18.1-11.9-4.1 2.7-8 4.6-11.5 5.9-5 2.1-9.8 3.5-14.5 4.3-9.6 1.8-18.4 1.3-25.9-.1-5.7-1.1-10.6-2.7-14.7-4.3-2.3-.9-4.8-2-7.3-3.4-.3-.2-.6-.3-.9-.5-.2-.1-.3-.2-.4-.3-1.8-1-2.8-1.7-2.8-1.7s4.8 8 17.5 11.8c-3 3.8-6.7 8.3-6.7 8.3-22.1-.7-30.5-15.2-30.5-15.2 0-32.2 14.4-58.3 14.4-58.3 14.4-10.8 28.1-10.5 28.1-10.5l1 1.2c-18 5.2-26.3 13.1-26.3 13.1s2.2-1.2 5.9-2.9c10.7-4.7 19.2-6 22.7-6.3.6-.1 1.1-.2 1.7-.2 6.1-.8 13-1 20.2-.2 9.5 1.1 19.7 3.9 30.1 9.6 0 0-7.9-7.5-24.9-12.7l1.4-1.6s13.7-.3 28.1 10.5c0 0 14.4 26.1 14.4 58.3 0 0-8.5 14.5-30.6 15.2z"/>
      </svg>
    </a>
  </div>

 <app-footer></app-footer>

